{% extends 'global/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'projects/css/all-projects.css' %}">
  <link rel="stylesheet" href="{% static 'projects/css/home.css' %}">
{% endblock head %}

{% block content %}
  <div class="container">
    <h2 class="home-title">
      <i class="bi bi-calendar-check"></i>
      Projetos recentes
    </h2>
    <swiper-container class="mySwiper" init="false">
      {% for project in week_projects %}
        <swiper-slide>
          <div class="project-card">
            {% if project.author.is_staff %}
                <a href="{% url 'users:user_detail' project.author.id %}" class="project-author staff-user">
                  {{ project.author.username }}
                  <i class="bi bi-code-slash"></i>
                </a>
              {% else %}
                <a href="{% url 'users:user_detail' project.author.id %}" class="project-author">
                  {{ project.author.username }}
                </a>
              {% endif %}
            <div class="card-header">
              <img src="{% static 'global/img/card-img.svg' %}" alt="project-card-img">
            </div>

            <div class="card-body">
              <div class="card-title">
                <h3>{{ project.title }}</h3>
                <p>
                  <i class="bi bi-chat"></i>
                  {{ project.comments.count }}
                </p>
              </div>
              <div class="card-description">
                <p>{{ project.subtitle }}</p>
              </div>
              <div class="card-footer">
                <div class="card-info">
                  <p>{{ project.created_at | naturalday }}</p>
                </div>
                <a href="{% url 'projects:project_detail' project.id %}" class="card-button">
                  <i class="bi bi-eye"></i>
                  Ver projeto
                </a>
              </div>
            </div>
          </div>
        </swiper-slide>
        {% endfor %}
      </swiper-container>


      <section id="about">
        <div class="about-container">

          <div class="about-header">
            <h2>
              <i class="bi bi-bookmark"></i>
              Sobre o Projeto X
            </h2>
            <p>Quos pariatur, fugiat impedit!</p>
          </div>

          <div class="about-body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos pariatur, fugiat impedit 
              harum aperiam hic voluptates quis nulla dicta quo repudiandae laborum consequatur
              veniam. Iste neque quia nesciunt minus est!</p>
            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos pariatur, fugiat impedit 
              harum aperiam hic voluptates quis nulla dicta quo repudiandae laborum consequatur
              veniam. Iste neque quia nesciunt minus est!</p>
          </div>

          <div class="about-footer">
            <h3>
              <i class="bi bi-code-slash"></i>
              Desenvolvedores do projeto:
            </h3>
            <div class="adm-card-grid">
              <div class="adm-card">
                <div class="adm-name">
                  <h3>Miguel Almeida</h3>
                </div>
                <div class="adm-stack">
                  <h4>Stacks:</h4>
                  <ul>
                    <li><p>Python</p></li>
                    <li><p>Django</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                  </ul>
                </div>
                <div class="adm-links">
                  <a href="">
                    <i class="bi bi-person-circle"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>

              <div class="adm-card">
                <div class="adm-name">
                  <h3>Devid</h3>
                </div>
                <div class="adm-stack">
                  <h4>Stacks:</h4>
                  <ul>
                    <li><p>Python</p></li>
                    <li><p>Django</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                  </ul>
                </div>
                <div class="adm-links">
                  <a href="">
                    <i class="bi bi-person-circle"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>

              <div class="adm-card">
                <div class="adm-name">
                  <h3>Douglas</h3>
                </div>
                <div class="adm-stack">
                  <h4>Stacks:</h4>
                  <ul>
                    <li><p>Python</p></li>
                    <li><p>Django</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                  </ul>
                </div>
                <div class="adm-links">
                  <a href="">
                    <i class="bi bi-person-circle"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>

              <div class="adm-card">
                <div class="adm-name">
                  <h3>Neto</h3>
                </div>
                <div class="adm-stack">
                  <h4>Stacks:</h4>
                  <ul>
                    <li><p>Python</p></li>
                    <li><p>Django</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                  </ul>
                </div>
                <div class="adm-links">
                  <a href="">
                    <i class="bi bi-person-circle"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>

        </div>
      </section>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
  <script>
    const swiperEl = document.querySelector('swiper-container')
    Object.assign(swiperEl, {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        clickable: true
      },
      navigation: true,
      
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
      },
    });
    swiperEl.initialize();
  </script>
{% endblock content %}
