{% extends 'global/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <title>Code Connect</title>
  <link rel="stylesheet" href="{% static 'projects/css/all-projects.css' %}">
  <link rel="stylesheet" href="{% static 'projects/css/home.css' %}">
{% endblock head %}

{% block content %}
  <div class="container">
    {% include 'global/partials/_messages.html' %}
    <div class="home-header">
      <div class="home-title">
        <h2>
          <i class="bi bi-calendar-check"></i>
          Projetos recentes
        </h2>
        <p class="date-deadline"><span>Prazo:</span> De: {{ date.start_date|naturalday }} - Até: {{ date.end_date|naturalday }}</p>
      </div>
      <div class="all-projects-link">
        <a href="{% url 'projects:all_projects' %}">
          <i class="bi bi-list"></i>
          Todos os projetos
        </a>
      </div>
    </div>
    <swiper-container class="mySwiper" init="false">
      {% for project in week_projects %}
        <swiper-slide>
          <div class="project-card">
            {% if project.author.is_staff %}
                <a href="{% url 'users:user_detail' project.author.id %}" class="project-author staff-user">
                  {{ project.author.username }}
                  <i class="bi bi-code-slash"></i>
                </a>
              {% else %}
                <a href="{% url 'users:user_detail' project.author.id %}" class="project-author">
                  {{ project.author.username }}
                </a>
              {% endif %}
              <div class="project-info">
                {% if project.is_inspired %}
                  <a class="idea-info" href="{% url 'users:idea_detail' project.is_inspired.id %}">{{ project.is_inspired }}</a>
                  <a href="{% url 'projects:project_search' %}?q={{project.is_inspired.stack}}">{{ project.stack }}</a>
                {% endif %}
              </div>
            <div class="card-header">
              <img src="{% static 'global/img/card-img.svg' %}" alt="project-card-img">
            </div>

            <div class="card-body">
              <div class="card-title">
                <h3>{{ project.title }}</h3>
                <p>
                  <i class="bi bi-chat"></i>
                  {{ project.comments.count }}
                </p>
              </div>
              <div class="card-description">
                <p>{{ project.subtitle }}</p>
              </div>
              <div class="card-footer">
                <div class="card-info">
                  <p>{{ project.created_at | naturalday }}</p>
                </div>
                <a href="{% url 'projects:project_detail' project.id %}" class="card-button">
                  <i class="bi bi-eye"></i>
                  Ver projeto
                </a>
              </div>
            </div>
          </div>
        </swiper-slide>
        {% endfor %}
      </swiper-container>

      <section id="ideas">
        <h2>
          <i class="bi bi-brightness-high"></i>
          Ideias de projetos
        </h2>
        <div class="ideas-container">
          <div class="ideas-cards">
            {% for idea in ideas %}
              <div class="idea-card">
                <div class="idea-header">
                  <h3>{{ idea.idea }}</h3>
                </div>
                <div class="idea-body">
                  <p>Stack: {{ idea.stack }}</p>
                  <p>Nível: {{ idea.level }}</p>
                </div>
                <div class="idea-footer">
                  <a href="{% url 'users:idea_detail' idea.id %}">
                    <i class="bi bi-eye"></i>
                    Ver ideia
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="ideas-link">
            <h2>Sem ideias para projetos?</h2>
            <a href="{% url 'users:projects_ideas' %}">
              <i class="bi bi-list"></i>
              Ver todas as ideias
            </a>
          </div>
        </div>
      </section>

      <section id="about">
        <div class="about-container">

          <div class="about-header">
            <h2>
              <i class="bi bi-bookmark"></i>
              Sobre o CodeCon
            </h2>
            <p>Se você pode imaginar, você pode programar!</p>
          </div>

          <div class="about-body">
            <h3>O que é:</h3>
            <p>
              O <span>Code Connect</span> foi criado por alunos e estudantes de programação, ele tem o propósito de <span>estimular
              e incentivar</span> outros como nós a por em prática o que aprendemos no dia a dia na área de tecnologia
              e sair do ócio. Deixar de ser o "programador" que apenas lê artigos ou copia códigos de vídeos e não
              cria nada próprio.
            </p>
            
            <h3>Como funciona:</h3>
            <p>
              O site funciona como um <span>portifólio geral</span> para os alunos de Ciência da Computação e áreas afins da Estácio.
              Os alunos cadastrados e verificados no site terão um prazo em torno de duas semanas ou mais para criarem
              seus próprios projetos e postarem na plataforma. Lembrando que o projeto não precisa ser algo enorme, pode
              ser algo <span>simples</span> e não precisa estar completo, o importante é <span>se desafiar</span> a algo novo, por em prática seus
              conhecimentos e <span>aprender com os próprios erros</span>!
            </p>

            <h3>Publicação:</h3>
            <p>
              Todas as postagem que forem <span>publicadas</span> ou <span>editadas</span> pelos usuários passarão por uma avaliação dos adms do site. Assim que o post for
              devidamente avaliado ele será publicado no site.
            </p>
          </div>

          <div class="about-footer">
            <h3>
              <i class="bi bi-code-slash"></i>
              Desenvolvedores do projeto:
            </h3>
            <div class="adm-card-grid">
              <div class="adm-card">
                <div class="adm-name">
                  <h3>Miguel Almeida</h3>
                </div>
                <div class="adm-stack">
                  <h4>Stacks usadas:</h4>
                  <ul>
                    <li><p>Python</p></li>
                    <li><p>Django</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                    <li><p>Bootstrap</p></li>
                  </ul>
                </div>
                <div class="adm-links">
                  <a href="https://github.com/mga98" target="_blank">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/miguel-almeida-mga/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>

              <div class="adm-card">
                <div class="adm-name">
                  <h3>Dêvid Teófilo</h3>
                </div>
                <div class="adm-stack">
                  <h4>Stacks usadas:</h4>
                  <ul>
                    <li><p>Python</p></li>
                    <li><p>Django</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                  </ul>
                </div>
                <div class="adm-links">
                  <a href="https://github.com/devid8642/" target="_blank">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/devid-teofilo/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>

              <div class="adm-card">
                <div class="adm-name">
                  <h3>Douglas</h3>
                </div>
                <div class="adm-stack">
                  <h4>Stacks usadas:</h4>
                  <ul>
                    <li><p>Javascript</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                  </ul>
                </div>
                <div class="adm-links">
                  <a href="https://github.com/Arkashersz" target="_blank">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/dougsantana/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>

              <div class="adm-card">
                <div class="adm-name">
                  <h3>Fábio Barros</h3>
                </div>
                <div class="adm-stack">
                  <h4>Stacks usadas:</h4>
                  <ul>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                    <li><p>Javascript</p></li>
                    <li><p>Bootstrap</p></li>
                    <li><p>Web Designer</p></li>
                  </ul>
                </div>
                <div class="adm-links">
                  <a href="https://github.com/Netofb" target="_blank">
                    <i class="bi bi-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/f%C3%A1bio-barros-lima/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>

        </div>
      </section>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
  <script>
    const swiperEl = document.querySelector('swiper-container')
    Object.assign(swiperEl, {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        clickable: true
      },
      navigation: true,
      
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
      },
    });
    swiperEl.initialize();
  </script>
{% endblock content %}
