{% extends 'global/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'projects/css/project-edit.css'%}">
  <title>Novo projeto</title>
{% endblock head %}

{% block content %}
  <div class="container">
    <div class="form-container">

      <form class="base-form" action="{% url 'projects:project_create' %}" method="POST">
        <h2>Criar novo projeto</h2>
        {% csrf_token %}
        {{ form.media }}
        <div class="input-group">
          <label class="input-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
          {{ form.title }}
        </div>
        <div class="input-group">
          <label for="{{ form.subtitle.id_for_label }}">Descrição</label>
          {{ form.subtitle }}
        </div>
        <div class="input-group">
          <label for="{{ form.explanatory_text.id_for_label }}">{{ form.explanatory_text.label }}:</label>
          {{ form.explanatory_text }}
        </div>
        <div class="input-group">
          <label for="{{ form.stack.id_for_label }}">
            {{ form.stack.label }}:
          </label>
          {{ form.stack }}
        </div>
        <div class="input-group">
          <label for="{{ form.link.id_for_label }}">
            <i class="bi bi-link-45deg"></i>
            {{ form.link.label }}:
          </label>
          {{ form.link }}
        </div>
        <div class="input-group">
          <label for="{{ form.is_inspired.id_for_label }}">
            {{ form.is_inspired.label }}:
          </label>
          {{ form.is_inspired }}
        </div>
        <button type="submit">
          <i class="bi bi-plus-circle"></i>
          Adicionar projeto
        </button>
      </form>
    </div>
  </div>
{% endblock content %}