{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'projects/css/project-detail.css'%}">
  <title>Projeto</title>
{% endblock head %}

{% block content %}
  <div class="post-container">
      <div class="post-area">
        <div class="post-header">
          <div class="post-user">
            <a href="{% url 'users:user_detail' project.author.id %}" class="user-link">
              {{ project.author.username }}
            </a>
            <p>{{ project.created_at | naturalday }}</p>
          </div>
          <h2 class="post-title">{{ project.title }}</h2>
          <p class="post-description">{{ project.subtitle }}</p>
        </div>
        <div class="post-body">
          <div class="post-text">{{ project.explanatory_text }}</div>
          <div class="post-link">
            {% if project.link %}
              <a href="{{ project.link }}" target="_blank">
                <i class="bi bi-link-45deg"></i>
                Link do projeto
              </a>
            {% endif %}
          </div>
        </div>
        <div class="post-footer">
        </div>
      </div>
      <div class="comment-area">
        {% if request.user.is_authenticated %}
          <div class="user-comment">
            <form class="comment-form" action="{% url 'projects:project_detail' project.id %}" method="POST">
              {% csrf_token %}
              <label for="{{ comment_form.id_for_label }}">{{ comment_form.label }}</label>
              {{ comment_form.comment }}
              <button type="submit">Comentar</button>
            </form>
          </div>
        {% endif %}
        <div class="all-comments">
          <h3>Comentários:</h3>
          {% for comment in comments %}
            <div class="comment">
              <div class="comment-info">
                <div class="comment-data">
                  <a href="{% url 'users:user_detail' comment.author.id %}" class="comment-user">{{ comment.author.username }}</a>
                  <p>{{ comment.created_at | naturalday }}</p>
                </div>
                {% if comment.author == request.user %}
                  <form class="comment-delete" action="{% url 'projects:comment_delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="comment-id" value="{{ comment.id }}">
                    <button type="submit">Deletar</button>
                  </form>
                {% endif %}
              </div>
              <div class="comment-body">
                <p class="comment-text">{{ comment.comment }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </div>
{% endblock content %}
