{% extends 'global/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <link rel="stylesheet" href="{% static 'projects/css/cards.css' %}">
{% endblock head %}

{% block content %}
  <div class="container">
    <h2 class="all-projects-title">Pesquisa por: "{{ search_term }}"</h2>
    <div class="projects-grid">
      {% for project in projects %}
        {% include 'projects/partials/_cards.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
