{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'projects/css/project-detail.css'%}">
  <title>{{ project.title }} - {{ project.author.username }}</title>
{% endblock head %}

{% block content %}
  <div class="post-container">
    {% include 'global/partials/_messages.html' %}
      <div class="post-area">
        <div class="post-header">
          <div class="post-user">
            {% if project.author.is_staff %}
              <a href="{% url 'users:user_detail' project.author.id %}" class="user-link staff-user">
                {{ project.author.username }}
                <i class="bi bi-code-slash"></i>
              </a>
            {% else %}
              <a href="{% url 'users:user_detail' project.author.id %}" class="user-link">
                {{ project.author.username }}
              </a>
            {% endif %}
            {% if project.stack %}
              <a href="{% url 'projects:project_search' %}?q={{project.is_inspired.stack}}" 
                class="user-link">
                {{ project.get_stack_display }}
              </a>
            {% endif %}
            <p>{{ project.created_at | naturalday }}</p>
          </div>
          <div class="post-title">
            <h2>
              {% if project.is_approved %}
                {{ project.title }}
              {% else %}
                {{ project.title }} (Não aprovado)
              {% endif %}
            </h2>
            <form action="{% url 'projects:make_complaint' %}" method="POST" class="form-complaint">
              {% csrf_token %}
              <input type="hidden" name="project_id" value="{{ project.id }}">
              <button type="submit">
                <i class="bi bi-flag-fill"></i>
                Denúnciar
              </button>
            </form>
          </div>
          <p class="post-description">{{ project.subtitle }}</p>
          {% if project.author == request.user and project.complaints %}
            <div class="post-complaint">
              <p>Seu projeto foi denunciado, e será revisado.</p>
            </div>
          {% endif %}
        </div>
        <div class="post-body">
          {% if project.image %}
            <div class="post-image">
              <img src="{% get_media_prefix %}{{ project.image }}" alt="{{ project.title }}" id="myImg">
            </div>
            <div id="myModal" class="modal">

              <!-- The Close Button -->
              <span class="close">&times;</span>
            
              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
            
              <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
            </div>
          {% endif %}
          <div class="text-area">
            <div class="post-text">{{ project.explanatory_text|safe }}</div>
            <div class="post-link">
              {% if project.link %}
                <a href="{{ project.link }}" target="_blank">
                  <i class="bi bi-link-45deg"></i>
                  Link do projeto
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="post-footer">
          {% if project.is_inspired %}
          <p>Projeto baseado em: 
            <a href="{% url 'ideas:idea_detail' project.is_inspired.id %}">
              {{ project.is_inspired }}
            </a>
          </p>
          {% endif %}
        </div>
      </div>
      <div class="comment-area">
        {% if request.user.is_authenticated %}
          <div class="user-comment">
            <form class="comment-form" action="{% url 'projects:project_detail' project.id %}" method="POST">
              {% csrf_token %}
              <label for="{{ comment_form.id_for_label }}">{{ comment_form.label }}</label>
              {{ comment_form.comment }}
              <button type="submit">
                <i class="bi bi-chat"></i>
                Comentar
              </button>
            </form>
          </div>
        {% else %}
          <div class="comments-message">
            <p>
              Para comentar, faça 
              <a href="{% url 'users:login' %}">Login</a> 
              ou
              <a href="{% url 'users:register' %}">Registre-se</a>!
            </p>
          </div>
        {% endif %}
        <div class="all-comments">
          <h3>
            <i class="bi bi-chat"></i>
            Comentários:
          </h3>
          {% for comment in comments %}
            <div class="comment">
              <div class="comment-info">
                <div class="comment-data">
                  {% if comment.author.is_staff %}
                    <a href="{% url 'users:user_detail' comment.author.id %}" class="comment-user staff-user">
                      {{ comment.author.username }}
                      <i class="bi bi-code-slash"></i>
                    </a>
                  {% else %}
                    <a href="{% url 'users:user_detail' comment.author.id %}" class="comment-user">
                      {{ comment.author.username }}
                    </a>
                  {% endif %}
                  <p>{{ comment.created_at | naturalday }}</p>
                </div>
                {% if comment.author == request.user %}
                  <form class="form-delete comment-delete" action="{% url 'projects:comment_delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="comment-id" value="{{ comment.id }}">
                    <button type="submit">
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
                {% endif %}
              </div>
              <div class="comment-body">
                <p class="comment-text">{{ comment.comment }}</p>
              </div>
            </div>
          {% empty %}
            <p>Nenhum comentário ainda</p>
          {% endfor %}
        </div>
      </div>
  </div>
  <script src="{% static 'global/js/image-modal.js' %}"></script>
  <script src="{% static 'global/js/modal.js' %}"></script>
{% endblock content %}
