SECRET_KEY=
PRODUCTION=False

# Set this email configuration bellow if you want to use
# email confirmation when register a new user.

EMAIL_CONFIRMATION=True
EMAIL_FROM='Your email'
EMAIL_HOST_USER='Your email'
EMAIL_HOST_PASSWORD='Your email apps password'

PASSWORD_RESET_TIMEOUT=Time to reset the token