SECRET_KEY=
PRODUCTION=False

# To simulate the production environment, set PRODUCTION=True
# and set the following variables:

# Configuring postegres
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Configuring email
EMAIL_FROM=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
PASSWORD_RESET_TIMEOUT=