SECRET_KEY=
PRODUCTION=False

# Email configuration

EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='Your email host'
EMAIL_FROM='Your email'
EMAIL_HOST_USER='Your email'
EMAIL_HOST_PASSWORD='Email apps password'
EMAIL_PORT=Port(int)
EMAIL_USE_TLS=True

PASSWORD_RESET_TIMEOUT=Time to reset