{% extends 'global/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
  <title>Login</title>
{% endblock head %}

{% block content %}
    {% include 'global/partials/_messages.html' %}
    <div class="container">
      <div class="auth-container">
        <form class="auth-form" action="{% url 'users:login' %}" method="POST">
          <h2>Faça login</h2>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
          {{ field }}
          {{ field.errors }}
          {% endfor %}
          <button type="submit" class="login-button">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
          </button>
          <p class="auth-message">Ainda não tem uma conta? 
            <a href="{% url 'users:register' %}">Registre-se</a>
          </p>
        </form>
      </div>
    </div>

{% endblock content %}