{% extends 'global/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
  <title>Registre-se</title>
{% endblock head %}

{% block content %}
  <div class="container">
    <div class="auth-container">
      <form class="auth-form" action="{% url 'users:register' %}" method="POST" 
        enctype="multipart/form-data">
        <h2>Cadastre-se aqui!</h2>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="img-field">
          <img src="" id="frame" class="" alt="">
        </div>
        {% for field in form %}
          <div class="input-group">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
            {{ field }}
            {% if field.help_text %}
              <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <button type="submit" onclick="clearImage()" class="login-button">
          <i class="bi bi-person-check"></i>
          Registrar
        </button>
        <p class="auth-message">Já tem uma conta? Faça 
          <a href="{% url 'users:login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            login
          </a>
        </p>
      </form>
    </div>
  </div>

  <script src="{% static 'global/js/img-show.js' %}"></script>
{% endblock content %}