{% extends 'global/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <title>Admin - Ideias</title>
  <link rel="stylesheet" href="{% static 'users/css/ideas_admin.css' %}">
  <link rel="stylesheet" href="{% static 'projects/css/project-edit.css' %}">
{% endblock head %}

{% block content %}
  <div class="container">
    {% include 'global/partials/_messages.html' %}
    <div class="ideas-admin-container">
      <div class="ideas-add">
        <h2>Adicionar ideia</h2>
        <form action="{% url 'users:ideas_admin' %}" method="POST" class="base-form">
          {% csrf_token %}
          {% for field in form %}
            <div class="input-group">
              <label for="" class="form-label">{{ field.label }}:</label>
              {{ field }}
            </div>
          {% endfor %}
          <button type="submit">Adicionar ideia</button>
        </form>
      </div>
      <div class="all-ideas">
        <h2>Todas as ideias</h2>
        {% for idea in all_ideas %}
          <a href="{% url 'users:idea_detail' idea.id %}" class="ideas-card">
            <div class="idea-title">
              <div class="title-info">
                <h4>{{ idea.idea }}</h4>
                <p>{{ idea.stack }}</p>
              </div>
              <div class="idea-delete">
                <form action="{% url 'users:idea_delete' %}" method="POST" class="form-delete">
                  {% csrf_token %}
                  <input type="hidden" name="idea_id" value="{{ idea.id }}">
                  <button type="submit">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="idea-body">
              <p class="idea-level">Nível: {{ idea.level }}</p>
              <p class="idea-date">
                {{ idea.start_date|naturalday }}
              </p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="{% static 'global/js/modal.js' %}"></script>
{% endblock content %}
