{% extends 'global/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'users/css/user-detail.css' %}">
  <title>{{ user.username }}</title>
{% endblock head %}

{% block content %}
  <div class="container">
    {% include 'global/partials/_messages.html' %}
    <div class="user-background">
      {% if owner %}
        <form class="logout-form" action="{% url 'users:logout' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="user" value="{{ request.user.email }}">
          <button class="logout-link">
            <i class="bi bi-box-arrow-left"></i>
          </button>
        </form>
      {% endif %}
      <div class="user-profile">
        <div class="user-picture">
          {% if user.profile_photo %}
            <img src="{% get_media_prefix %}{{ user.profile_photo }}" alt="user-profile-photo">
          {% else %}
            <img src="{% static 'global/img/user-img.svg' %}" alt="user-generic-img">
          {% endif %}
        </div>
        <div class="user-info">
          <div class="user-name">
            {% if owner %}
              <h2>Bem vindo(a), {{ user.username }}!</h2>
            {% else %}
              <h2>{{ user.username }}</h2>
            {% endif %}
          </div>
          <div class="user-data">
            <div class="user-links">
              
              {% if user.github %}
                <a href="{{ user.github }}" target="_blank">
                  <i class="bi bi-github"></i>
                </a>
              {% endif %}
              {% if user.linkedin %}
                <a href="{{ user.linkedin }}" target="_blank">
                  <i class="bi bi-linkedin"></i>
                </a>
              {% endif %}
              {% if owner %}
                <a href="{% url 'users:user_update' user.id %}">
                  <i class="bi bi-pencil-square"></i>
                  Editar perfil
                </a>
                <a href="{% url 'users:user_update_password' user.id %}">
                  <i class="bi bi-key"></i>
                  Alterar senha
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-posts">
      <div class="user-posts-header">
        <h3>Projetos de {{ user.username }}:</h3>
        {% if owner %}
          <div class="user-links">
            <a href="{% url 'projects:project_create' %}">
              <i class="bi bi-file-earmark-plus"></i>
              Adicionar projeto
            </a>
          </div>
        {% endif %}
      </div>
      <div class="user-posts-grid">
        {% for project in projects %}
          {% if project.is_approved %}
            <div class="user-post-card">
              <div>
                <div class="user-post-card-header">
                  <h2>{{ project.title }}</h2>
                  {% if owner %}
                    <div class="user-post-links">
                      <a class="post-edit" href="{% url 'projects:project_edit' project.id %}">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <form class="form-delete" action="{% url 'projects:project_delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.id }}">
                        <button type="submit" class="post-delete" href="{% url 'projects:project_delete' %}">
                          <i class="bi bi-trash"></i>
                        </button>
                      </form>
                    </div>
                  {% endif %}
                </div>
                <div class="user-post-card-body">
                  <p>{{ project.subtitle }}</p>
                </div>
              </div>
              <div class="user-post-card-footer">
                <a href="{% url 'projects:project_detail' project.id %}">
                  <i class="bi bi-eye"></i>
                  Ver projeto
                </a>
              </div>
            </div>
          {% else %}
            <div class="user-post-card non-approved">
              <div>
                <div class="user-post-card-header">
                  <h2>{{ project.title }}</h2>
                  <p>(Não aprovado)</p>
                  {% if owner %}
                    <div class="user-post-links">
                      <a class="post-edit" href="{% url 'projects:project_edit' project.id %}">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <form class="form-delete" action="{% url 'projects:project_delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.id }}">
                        <button type="submit" class="post-delete" href="{% url 'projects:project_delete' %}">
                          <i class="bi bi-trash"></i>
                        </button>
                      </form>
                    </div>
                  {% endif %}
                </div>
                <div class="user-post-card-body">
                  <p>{{ project.subtitle }}</p>
                </div>
              </div>
              <div class="user-post-card-footer">
                <a href="{% url 'projects:project_detail' project.id %}">
                  <i class="bi bi-eye"></i>
                  Ver projeto
                </a>
              </div>
            </div>
          {% endif %}
        {% empty %}
        <p>Nenhum projeto ainda</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="{% static 'global/js/modal.js' %}"></script>
{% endblock content %}