{% extends 'global/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'projects/css/project-edit.css'%}">
  <link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
  <title>Atualizar pefil</title>
{% endblock head %}

{% block content %}
  <div class="container">
    <div class="form-container">

      <form class="base-form" action="{% url 'users:user_update' user.id %}" method="POST" enctype="multipart/form-data">
        <h2>Editar perfil</h2>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="img-field">
          <img src="" id="frame" alt="">
        </div>
        {% for field in form %}
          <div class="input-group">
            <label class="input-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            {% if field.help_text %}
              <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <button type="submit" onclick="clearImg()">
          <i class="bi bi-arrow-left-right"></i>
          Salvar alterações
        </button>
      </form>
    </div>
  </div>

  <script src="{% static 'global/js/img-show.js' %}"></script>
{% endblock content %}