.admin-area {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin: 3rem 0;
    justify-content: space-between;
}

.admin-nav {
    background-color: rgb(15, 15, 27);
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    height: 100%;
    width: 30%;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.admin-container {
    padding: 1rem;
}

.admin-container h3 {
    color: rgb(200, 200, 200);
    font-size: 1.5rem;
}

.admin-container h4 {
    color: #f97c0f;
    margin-bottom: .7rem;
    font-size: 1.2rem;
}

.admin-container-header p {
    color: rgb(200, 200, 200);
    margin-bottom: .5rem;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.non-approved {
    display: block;
    position: relative;
    color:rgb(200, 200, 200);
    text-decoration: none;
    font-size: 1.7rem;
    width: fit-content;
    padding-right: .7rem;
}

.non-approved:hover {
    color:#f97c0f
}

.non-approved span {
    position: absolute;
    font-size: .8rem;
    top: -8px;
    right: -7px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:#1645ff;
    min-width: 20px;
    min-height: 20px; 
}

.admin-container-body {
    margin-top: 3rem;
}

.admin-container-body .base-form {
    width: 100%;
    padding: 0;
    box-shadow: none;
    margin-top: 1rem;
    background-color: transparent;
}

.date-edit-form {
    background-color: rgb(200, 200, 200);
    border-radius: 1rem;
    padding: 1rem;
}

.deliver-area {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.success-users,
.failed-users,
.non-approved-projects {
    max-height: 400px;
    background-color: rgb(15, 15, 27);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    overflow-y: auto;
    padding: .5rem 0;
}

.users-container h3,
.failed-users-body ul li a,
.success-users-body ul li a,
.non-approved-body ul li a {
    padding: 1rem;
}

.users-container h3 {
    font-size: 1.4rem;
    border-bottom: 4px solid #0a0015;
    color: rgb(200, 200, 200);
}

.failed-users-body ul,
.success-users-body ul,
.non-approved-body ul {
    list-style: none;
}

.failed-users-body ul li,
.success-users-body ul li,
.non-approved-body ul li {
    border-bottom: 1px solid rgb(50, 50, 50);
}

.failed-users-body ul li a,
.success-users-body ul li a,
.non-approved-body ul li a  {
    text-decoration: none;
    display: block;
    width: 100%;

}

.expired-user {
    color: rgb(252, 37, 37);
    font-size: 1.2rem;
}

.failed-users-body ul li a:hover,
.success-users-body ul li a:hover,
.non-approved-body ul li a:hover  {
    background-color:rgb(15, 15, 15);
}

.delivered-user h4 {
    margin-bottom: .3rem;
    font-size: 1.2rem;
    color: #1645ff;
}


.delivered-user p {
    font-size: .9rem;
    color: rgb(76, 76, 76)
}

.non-approved-body h4 {
    color: rgb(252, 37, 37)
}

@media (max-width: 1200px) {
    .admin-area {
        margin-top: 7rem;
    }
}

@media (max-width: 768px) {
    .admin-area {
        flex-flow: row wrap;
    }

    .admin-nav {
        width: 100%;
    }

    .deliver-area {
        width: 100%;
    }

    .non-approved-projects {
        width: 100%;
    }
}
