.admin-area {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin: 3rem 0;
    justify-content: space-between;
}

.admin-nav {
    background-color: rgb(15, 15, 27);
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 40%;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.admin-container {
    padding: 1rem;
}

.admin-container h3 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.admin-container h4 {
    color: #f97c0f;
    margin-bottom: .7rem;
    font-size: 1.2rem;
}

.admin-container-header p {
    color: white;
    margin-bottom: .5rem;
}

.admin-container-body {
    margin-top: 3rem;
}

.admin-container-body .base-form {
    width: 100%;
    padding: 0;
    box-shadow: none;
    margin-top: 1rem;
    background-color: transparent;
}

.date-edit-form {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.deliver-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.success-users,
.failed-users {
    width: 100%;
    max-height: 400px;
    background-color: rgb(15, 15, 27);
    border-radius: 1rem;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    padding: .5rem 0;
}

.users-container h3,
.failed-users-body ul li a,
.success-users-body ul li a {
    padding: 1rem;
}

.users-container h3 {
    font-size: 1.4rem;
    border-bottom: 4px solid rgb(15, 15, 15);
    color: white;
}

.failed-users-body ul,
.success-users-body ul {
    list-style: none;
}

.failed-users-body ul li,
.success-users-body ul li {
    border-bottom: 1px solid rgb(50, 50, 50);
}

.failed-users-body ul li a,
.success-users-body ul li a {
    text-decoration: none;
    display: block;
    width: 100%;

}

.expired-user {
    color: rgb(252, 37, 37);
    font-size: 1.2rem;
}

.failed-users-body ul li a:hover,
.success-users-body ul li a:hover  {
    background-color:rgb(15, 15, 15);
}

.delivered-user h4 {
    margin-bottom: .3rem;
    font-size: 1.2rem;
    color: #f97c0f;
}


.delivered-user p {
    font-size: .9rem;
    color: rgb(76, 76, 76)
}

@media (max-width: 1200px) {
    .admin-area {
        margin-top: 7rem;
    }
}

@media (max-width: 768px) {
    .admin-area {
        flex-flow: row wrap;
    }

    .admin-nav {
        width: 100%;
    }
}
