.auth-container {
    display: flex;
    justify-content: center;
}

.auth-form {
    background-color: rgb(15, 15, 27);
    padding: 3rem 1.5rem;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 25rem;
}

.auth-form h2 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #1645ff;
}

.auth-form ul {
    list-style-type: none;
}

.auth-form ul li {
    padding: 1rem 0;
    color: rgb(255, 41, 41);
}

.input-group {
    margin-bottom: 1.5rem;
    color: rgb(200, 200, 200);
    font-size: .8rem;
}

.input-group label {
    font-size: 1rem;
}

.input-group a {
    display: none;
}

.auth-form label {
    display: block;
    margin-bottom: .5rem;
    color: rgb(200, 200, 200);
    font-weight: bold;
}

.auth-form input {
    font-size: .9rem;
    width: 100%;
    height: 2.5rem;
    padding: .5rem .7rem;
    border-radius: .2rem;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    opacity: .8;
}

.auth-form input:focus {
    opacity: 1;
}

.profile-img {
    background-color: rgb(200, 200, 200);
}

.img-field {
    width: 100%;
}

.frame-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.frame-img:hover {
    height: auto;
}

#profile_photo-clear_id {
    width: 20px;
}

.help-text {
    color: #1645ff;
    margin-top: 0;
    font-size: .8rem;
    margin-top: .5rem;
}

.login-button {
    width: 100%;
    border: none;
    padding: .3rem;
    text-align: center;
    font-size: 1.3rem;
    background-color: #1645ff;
    color: rgb(200, 200, 200);
    cursor: pointer;
    border-radius: .2rem;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
}

.auth-message {
    color: rgb(200, 200, 200);
    text-align: center;
    margin-top: 1rem;
}

.auth-message a {
    color:#1645ff
}

.login-button:hover {
    background-color: #305afe;
}

.register-login {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: .3rem;
    color:#1645ff;
    border: 1px solid #1645ff;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    font-size: 1.3rem;
    border-radius: .2rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .auth-form {
        margin-top: 10rem
    }
}
