.ideas-admin-container {
    color: rgb(200, 200, 200);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: 1rem;
}

.ideas-admin-container.default-user {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.ideas-add,
.all-ideas,
.ideas-header {
    background-color: rgb(15, 15, 27);
    height: fit-content;
    max-height: 650px;
    overflow-y: auto;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
}

.ideas-header {
    padding: 1rem;
    color: var(--background);
    margin-top: 3rem;
    background-color: var(--cor-primaria);
}

.ideas-header p {
    font-size: 1.2rem;
}

.ideas-add h2,
.all-ideas h2 {
    padding: 1rem;
    border-bottom: 4px solid var(--background);
}

.all-ideas h2 {
    color: #1645ff;
}

.ideas-add .base-form {
    width: 100%;
    box-shadow: none;
    padding: 1rem;
}

.ideas-card {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem 0;
    border-bottom: 2px solid var(--background);
}

.ideas-card:hover {
    background-color: var(--background);
}

.idea-title,
.idea-body {
    padding: 0 1rem;
}

.idea-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.idea-title h4 {
    color: var(--cor-primaria);
    font-size: 1.2rem;
}

.all-ideas .idea-title h4 {
    color:#1645ff;
}

.idea-body {
    margin-top: .5rem;
}

.idea-level {
    margin-bottom: .3rem
}

.idea-date {
    font-size: .9rem;
}

.idea-delete button {
    color: rgb(248, 33, 33);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .ideas-header {
        margin-top: 7rem;
    }

    .ideas-admin-container {
        grid-template-columns: 1fr;
        margin-top: 7rem;
    }

    .ideas-admin-container.default-user {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
