.user-background {
    width: 100%;
    height: 12rem;
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    border-radius: 20px;
    background-color: rgb(15, 15, 27);
}

.logout-form {
    position: absolute;
    top: .5rem;
    right: .7rem;
}

.user-background .logout-link {
    font-size: 2rem;
    padding: .2rem .5rem 0 .2rem;
    color: rgb(248, 33, 33);
    text-decoration: none;
}

.user-background .logout-link:hover {
    background-color: rgb(49, 49, 49);
}

.user-profile {
    height: 7rem;
    display: flex;
}

.user-picture {
    position: relative;
    width: 13rem;
    height: 13rem;
    background-color: rgb(28, 28, 28);
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    margin-left: 3rem;
}

.user-picture .profile-edit {
    display: block;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    text-decoration: none;
    color: #f97c0f;
    font-size: 1.7rem;
    padding: 0.1rem;
}

.user-picture .profile-edit:hover {
    background-color: rgb(49, 49, 49);
}

.user-picture img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.user-name h2 {
    color: #f97c0f;
    font-size: 2rem;
}

.user-info {
    margin-left: 3rem;
    color: rgb(200, 200, 200)
}

.user-data {
    margin-top: .5rem;
}

.user-links {
    display: flex;
}

.user-links a {
    margin-bottom: .5rem;
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 1.1rem;
    padding: 0rem .5rem;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: .3rem
}

.user-links a i {
    font-size: 1.6rem;
}

.user-links a:hover {
    background-color: rgb(49, 49, 49);
}

.user-posts {
    margin: 7rem 0;
    padding: 3rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    color: rgb(200, 200, 200);
    border-radius: 20px;
    background-color: rgb(15, 15, 27);
}

.user-posts h3 {
    font-size: 1.9rem;
    color:#f97c0f;
}

.user-posts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: .3rem;
}

.user-posts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    gap: 1rem
}

.user-post-card {
    position: relative;
    padding-top: .5rem;
    background-color: var(--background);
    border: 1px solid var(--cor-primaria);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 200ms;
    margin-bottom: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.user-post-card-header h2 {
    font-size: 1.1rem;
    color: var(--cor-primaria);
    max-width: 80%;
    white-space: pre-wrap;      /* Webkit */    
    white-space: -moz-pre-wrap; /* Firefox */     
    white-space: -pre-wrap;     /* Opera <7 */    
    white-space: -o-pre-wrap;   /* Opera 7 */     
    word-wrap: break-word;      /* IE */ 
}

.non-approved {
    border: 1px solid rgb(249, 57, 57);
}

.user-post-card.non-approved .user-post-card-footer a {
    background-color: rgb(249, 57, 57);
}

.user-post-card.non-approved .user-post-card-header h2 {
    color: rgb(249, 57, 57);
}

.user-post-links {
    display: flex;
    position: absolute;
    top: .5rem;
    right: .3rem;
}

.user-post-links a,
.user-post-links .post-delete {
    display: flex;
    padding: .3rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.user-post-links a:hover,
.user-post-links .post-delete:hover {
    background-color: rgb(49, 49, 49);
}

.user-post-links .post-edit {
    color:#f97c0f;
}

.user-post-links .post-delete {
    color: rgb(248, 33, 33);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user-post-card:hover {
    transform: scale(1.02);
}

.user-post-card-header,
.user-post-card-body {
    padding: .2rem .7rem;
}

.user-post-card-body {
    color: rgb(146, 146, 146);
}

.user-post-card-footer a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--background);
    padding: .7rem 0;
    background-color: #f97c0f;
    margin-top: .5rem
}

@media (max-width: 1200px) {
    .user-posts-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .user-name h2 {
        white-space: pre-wrap;      /* Webkit */    
        white-space: -moz-pre-wrap; /* Firefox */     
        white-space: -pre-wrap;     /* Opera <7 */    
        white-space: -o-pre-wrap;   /* Opera 7 */     
        word-wrap: break-word;      /* IE */ 
        max-width: 100%;
    }

    .user-posts-header h3 {
        white-space: pre-wrap;      /* Webkit */    
        white-space: -moz-pre-wrap; /* Firefox */     
        white-space: -pre-wrap;     /* Opera <7 */    
        white-space: -o-pre-wrap;   /* Opera 7 */     
        word-wrap: break-word;      /* IE */ 
        max-width: 100%;
    }

    .user-posts {
        background-color: transparent;
        box-shadow: none;
        padding: 1rem;
    }
}

@media (max-width: 950px) {
    .user-posts-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .user-background {
        margin-top: 4rem;
        height: 9rem;
        background-color: transparent;
        box-shadow: none;
    }

    .logout-form {
        top: 1.8rem;
    }

    .user-background .logout-link {
        font-size: 1.7rem;
    }

    .user-profile {
        height: 5rem;
    }

    .user-name h2 {
        font-size: 1.1rem;
    }

    .user-data {
        margin-top: 0rem;
    }

    .user-picture {
        width: 6.5rem;
        height: 6.5rem;
        margin-left: 1rem;
    }

    .user-picture .profile-edit {
        bottom: 0rem;
        right: .1rem;
        font-size: 1.4rem;
    }

    .user-info {
        margin-left: 1rem;
        color: rgb(200, 200, 200)
    }

    .user-posts {
        margin: 3rem 0;
    }

    .user-posts h3 {
        font-size: 1.5rem;
    }

    .user-links {
        flex-flow: row wrap;
    }

    .user-links a {
        margin-bottom: 0;
        text-decoration: none;
        color: rgb(200, 200, 200);
        font-size: 1rem;
        padding: .3rem;
        display: flex;
        width: fit-content;
    }

    .user-links a i {
        font-size: 1.1rem;
    }
}

@media (max-width: 650px) {
    .user-posts-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 300px) {
    .user-links a {
        margin-bottom: .5rem;
        text-decoration: none;
        color: rgb(200, 200, 200);
        font-size: .8rem;
        padding: .3rem;
        display: flex;
        width: fit-content;
    }
}
