{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'global/css/footer.css' %}">
{% endblock head %}



<footer>
  <div class="container">
    <div class="footer-container">
      <div class="copyright-area">
        <h2>Projeto X</h2>
        <p>Todos os direitos reservados a Projeto X</p>
      </div>
      <div class="thanks-area">
        <h3>Agradecimentos:</h3>
        <ul>
          <li>Douglas</li>
          <li>Devid</li>
          <li>Neto</li>
          <li>Miguel</li>
        </ul>
      </div>
      
    </div>
  </div>
</footer>
