{% load static %}

<header>
    <nav class="container navbar">
      <a href="{% url 'projects:home' %}" class="nav-brand">
        CodeConn
      </a>
      <div class="navbar-nav">
        {% if request.user.is_authenticated %}
          <form class="project-search search-logged" action="{% url 'projects:project_search' %}">
            {% csrf_token %}
            <input type="text" placeholder="Pesquise aqui" name="q">
            <button type="submit" class="btn">
              <i class="bi bi-search"></i>
            </button>
          </form>
        {% else %}
          <form class="project-search" action="{% url 'projects:project_search' %}">
            {% csrf_token %}
            <input type="text" placeholder="Pesquise aqui" name="q">
            <button type="submit" class="btn">
              <i class="bi bi-search"></i>
            </button>
          </form>
        {% endif %}

        <ul class="navbar-items">
          <li class="nav-item">
            <a href="{% url 'projects:all_projects' %}" class="nav-link">Projetos</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'ideas:projects_ideas' %}" class="nav-link">Ideias</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'projects:home' %}#about" class="nav-link">Sobre</a>
          </li>
  
          {% if request.user.is_authenticated %}
            <li class="nav-item user-nav">
              <p class="notification-link">
                <i class="bi bi-bell"></i>
              </p>
              {% if notifications_count %} 
                <p class="comments-count">{{ notifications_count }}</p>
              {% endif %}
              <div class="user-dropdown notification">
                <ul>
                  <li class="nav-item">
                    <p class="username"><strong>Suas notificações:</strong></p>
                  </li>
                  {% if not comments_notification and not complaints and not projects %}
                    <li class="nav-item">
                      <p class="username">Nenhuma notificação ainda</p>
                    </li>
                  {% endif %}
                  {% for comment in comments_notification %}
                    {% if not comment.read %}
                      <li class="nav-item">
                        <form action="{% url 'projects:comment_notification' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="comment_id" value="{{ comment.id }}">
                          <button type="submit">
                            <p>
                              <i class="bi bi-chat-fill"></i>
                              <strong>{{ comment.author.username }}</strong> comentou no seu post <strong>
                                "{{ comment.project.title }}"
                              </strong>
                            </p>
                          </button>
                        </form>
                      </li>
                    {% endif %}
                  {% endfor %}

                  {% for complaint in complaints %}
                    <li class="nav-item">
                      <form action="{% url 'projects:complaint_notification' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="complaint_id" value="{{ complaint.id }}">
                        <button type="submit">
                          <p>
                            <i class="bi bi-flag-fill"></i>
                            Seu post <strong>{{ complaint.title }}</strong> foi denunciado
                          </p>
                        </button>
                      </form>
                    </li>
                  {% endfor %}

                  {% for project in projects %}
                    {% if not project.is_approved %}
                      <li class="nav-item">
                        <a class="approved-link" href="{% url 'projects:project_detail' project.id %}">
                          <i class="bi bi-x-circle"></i>
                          Seu post <strong>{{ project.title }}</strong> está bloqueado
                          devido a denúncias.
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}

                </ul>
              </div>
            </li>

            <li class="nav-item user-nav">
              <p class="profile-link">
                <i class="bi bi-person-fill"></i>
              </p>
              <div class="user-dropdown">
                <ul>
                  <li class="nav-item">
                    <p class="username">Logado como: <strong>{{ request.user.username }}</strong></p>
                  </li>
                  <li class="nav-item"><a href="{% url 'projects:project_create' %}">
                    <i class="bi bi-file-earmark-plus"></i>
                    Publicar projeto</a>
                  </li>
                  <li class="nav-item"><a href="{% url 'users:user_detail' request.user.id %}">
                    <i class="bi bi-person-circle"></i>
                    Meu Perfil</a>
                  </li>
                  {% if request.user.is_staff %}
                    <li class="nav-item"><a href="{% url 'ideas:ideas_admin' %}">
                      <i class="bi bi-plus-circle"></i>
                      Adicionar ideia</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'users:admin_dashboard' %}">
                      <i class="bi bi-clipboard-data"></i>
                      Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin/" target="_blank">
                        <i class="bi bi-person-fill-lock"></i>
                        Área Administrativa
                      </a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <form action="{% url 'users:logout' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="user" value="{{ request.user.email }}">
                      <button type="submit" class="logout-link">
                        <i class="bi bi-box-arrow-left"></i>
                        Sair
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </li>
            
          {% else %}
            <li class="nav-item">
              <a href="{% url 'users:register' %}" class="nav-link register-link">Registre-se</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users:login' %}" class="nav-link login-link">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="hamburguer">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
</header>
