footer {
    padding: 2rem 0;
    border-top: 2px solid rgb(45, 45, 45);
}

.footer-container {
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
}

.footer-container p {
    color: rgb(150, 150, 150);
}

.copyright-area p {
    margin-top: .5rem;
}

.thanks-area ul {
    margin-top: .5rem;
    margin-left: 1rem;
}

.thanks-area ul li {
    color: #f97c0f;
    margin-bottom: .3rem;
}
