.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 27);
  border-bottom: 2px solid rgb(45, 45, 45);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar .nav-brand {
  font-size: 1.5rem;
  color: var(--cor-primaria);
  width: 200px;
}

.navbar .nav-brand img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-search {
  background-color: transparent;
  height: 2rem;
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-right: 5rem;
}

.project-search input {
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  width: 15rem;
  border-radius: 0.2rem;
  color: rgb(200, 200, 200);
}

.search-logged {
  margin-right: 15rem;
}

.project-search button {
  font-size: 1rem;
  padding: 0 .5rem;
  color: rgb(200, 200, 200);
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.navbar-nav .navbar-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item .username {
  text-align: left;
  color: rgb(98, 98, 98);
  padding: .7rem .7rem;
  background-color: rgb(21, 21, 21);
  font-size: .9rem;
  white-space: pre-wrap;      /* Webkit */    
  white-space: -moz-pre-wrap; /* Firefox */     
  white-space: -pre-wrap;     /* Opera <7 */    
  white-space: -o-pre-wrap;   /* Opera 7 */     
  word-wrap: break-word;      /* IE */ 
}

.nav-item .nav-link,
.navbar .nav-brand {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.nav-item .nav-link:hover,
.navbar .nav-brand:hover {
  color: var(--cor-primaria);
}

.nav-item .nav-link {
  font-size: 1.1rem;
  margin-left: 1rem;
  color: rgb(200, 200, 200);
}

.nav-item .register-link,
.nav-item .profile-link,
.nav-item .notification-link {
  display: block;
  padding: .5rem .8rem;
  border: 1px solid var(--cor-primaria);
  border-radius: 20px;
  color: var(--cor-primaria);
  margin-left: .5rem;
  box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
}

.nav-item .register-link {
  margin-left: 1.5rem;
}

.nav-item .profile-link,
.nav-item .notification-link {
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0 .42rem;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
  cursor: pointer;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.nav-item .profile-link:hover,
.nav-item .notification-link:hover {
  border-color: var(--cor-primaria);
  color: var(--cor-primaria)
}

.nav-item .notification-link {
  margin-left: 1.5rem;
  margin-right: .7rem;
}

.comments-count {
  position: absolute;
  color: var(--cor-primaria);
  top: -.9rem;
  right: -.1rem;
  border: 1px solid var(--cor-primaria);
  padding: 0 .35rem;
  border-radius: 50%;
  font-size: .7rem;
  display: block;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
}

.nav-item .logout-link:hover {
  background-color: rgb(249, 45, 45);
}

.nav-item .login-link {
  display: block;
  padding: .5rem 1.5rem;
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-primaria);
  box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
  border-radius: 20px;
  color: var(--background);
}

.nav-item .login-link:hover {
  color: var(--background);
}

.user-nav {
  position: relative;
}

.user-nav:hover > .user-dropdown {
  display: block;
  z-index: 50;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: -5rem;
  width: 13rem;
  background: rgba(15, 15, 27, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
  border-radius: .3rem;
  overflow: hidden;
}

.user-dropdown.notification {
  width: 15rem;
}

.user-dropdown.notification button {
  font-size: .9rem;
  background-color: transparent;
  border: none;
  text-align: left;
  color: rgb(200, 200, 200);
  padding: 1rem .8rem;
  cursor: pointer;
}

.approved-link {
  text-decoration: none;
  display: block;
  padding: 1rem .8rem;
  font-size: .9rem;
}

.user-dropdown.notification button strong,
.approved-link strong {
  color: var(--cor-primaria);
}

.user-dropdown.notification button:hover,
.user-dropdown.notification .approved-link:hover {
  background-color: var(--background);
  color: rgb(200, 200, 200);
}

.user-dropdown.notification button h4 {
  color: var(--cor-primaria);
  font-size: 1rem;
  margin-bottom: .5rem;
}

.user-dropdown ul {
  list-style: none;
}

.user-dropdown ul li a,
.user-dropdown ul li .logout-link {
  text-decoration: none;
  display: block;
  padding: 1rem .8rem;
  color: rgb(200, 200, 200);
}

.logout-link {
  border: none;
  width: 100%;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}

.user-dropdown ul li a:hover {
  background-color: var(--cor-primaria);
  color: var(--background)
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: rgb(200, 200, 200);
}

@media (max-width: 1400px) {
  .project-search input {
    width: 10rem;
  }
}

@media (max-width: 1300px) {
  .project-search {
    margin-right: 2rem;
  }

  .project-search input {
    width: 7rem;
  }
}

@media (max-width: 1200px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 40;
  }

  .project-search {
    margin-right: 0;
    margin-top: 1rem;
  }

  .navbar-nav {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 27);
    z-index: 1;
    width: 100%;
    transition: 300ms;
  }

  .navbar-nav .navbar-items {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-nav .nav-item {
    margin: 10px 0;
  }

  .user-dropdown .nav-item {
    margin: 0;
  }

  .navbar-nav.active {
    left: 0;
  }

  .user-dropdown {
    max-height: 15rem;
    overflow-y: auto;
  }

  .nav-item .register-link,
  .nav-item .profile-link,
  .nav-item .nav-link,
  .nav-item .notification-link {
    margin-left: 0;
    margin-right: 0;
  }

  .comments-count {
    right: -.9rem;
  }
}

@media (max-width: 300px) {
  .project-search input {
    width: 10rem;
  }
}
