.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 27);
  border-bottom: 2px solid rgb(45, 45, 45);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar .nav-brand {
  font-size: 1.5rem;
  color: var(--cor-primaria);
}

.project-search {
  background-color: transparent;
  height: 2rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.project-search input {
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  width: 15rem;
  border-radius: 0.2rem;
  color: rgb(200, 200, 200);
}

.project-search button {
  font-size: 1rem;
  padding: 0 .5rem;
  color: rgb(200, 200, 200);
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item .username {
  text-align: left;
  color: rgb(98, 98, 98);
  padding: .7rem .7rem;
  background-color: rgb(21, 21, 21);
  font-size: .9rem;
}

.nav-item .nav-link,
.navbar .nav-brand {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.nav-item .nav-link:hover,
.navbar .nav-brand:hover {
  color: var(--cor-primaria);
}

.nav-item .nav-link {
  font-size: 1.1rem;
  margin-left: 1rem;
  color: rgb(200, 200, 200);
}

.nav-item .register-link,
.nav-item .profile-link {
  display: block;
  padding: .5rem .8rem;
  border: 1px solid var(--cor-primaria);
  border-radius: 20px;
  color: var(--cor-primaria);
  margin-left: 1.5rem;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .8);
}

.nav-item .profile-link {
  border-radius: 50%;
  font-size: 1.5rem;
  padding: .3rem .42rem;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
  cursor: pointer;
}

.nav-item .profile-link:hover {
  border-color: var(--cor-primaria);
  color: var(--cor-primaria)
}

.nav-item .logout-link:hover {
  background-color: rgb(249, 45, 45);
}

.nav-item .login-link {
  display: block;
  padding: .5rem 1.5rem;
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-primaria);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: rgb(200, 200, 200);
}

.nav-item .login-link:hover {
  color: rgb(200, 200, 200);
}

.user-nav {
  position: relative;
}

.user-nav:hover > .user-dropdown {
  display: block;
  z-index: 50;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: -5rem;
  width: 13rem;
  background-color: rgb(15, 15, 27);
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.618);
  border-radius: .2rem;
}

.user-dropdown ul {
  list-style: none;
}

.user-dropdown ul li a {
  text-decoration: none;
  display: block;
  padding: 1rem .8rem;
  color: rgb(200, 200, 200);
}

.user-dropdown ul li a:hover {
  background-color: var(--cor-primaria);
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: rgb(200, 200, 200);
}

@media (max-width: 1200px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 40;
  }

  .navbar-nav {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 27);
    z-index: 1;
    width: 100%;
    transition: 300ms;
  }

  .navbar-nav .nav-item {
    margin: 10px 0;
  }

  .navbar-nav.active {
    left: 0;
  }

  .project-search input {
    width: 8rem;
  }

  .nav-item .register-link,
  .nav-item .profile-link,
  .nav-item .nav-link {
    margin-left: 0;
  }
}

@media (max-width: 300px) {
  .project-search input {
    width: 4rem;
  }
}
