{% extends 'global/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <link rel="stylesheet" href="{% static 'users/css/idea_detail.css' %}">
  <title>Ideia: {{ idea.idea }}</title>
{% endblock head %}

{% block content %}
  <div class="container">
    <div class="idea-container">
      <div class="idea-header">
        <h2 class="idea-title">{{ idea.idea }}</h2>
        <div class="idea-info">
          <a href="{% url 'projects:project_search' %}?q={{idea.stack}}" class="idea-stack">{{ idea.stack }}</a>
          <p class="idea-level">{{ idea.level }}</p>
        </div>
      </div>
      <div class="idea-body">
        <h3>Proposta:</h3>
        <p>{{ idea.explanation }}</p>
      </div>
      <div class="idea-footer">
        <a href="{% url 'projects:project_create' %}?stack={{idea.stack}}&is_inspired={{idea.id}}" 
          class="idea-link">
          <i class="bi bi-plus-circle"></i>
          Criar este projeto
        </a>
        <a href="{% url 'projects:all_projects' %}?idea={{idea.id}}&idea_name={{idea.idea}}" 
          class="similar-link">
          <i class="bi bi-search"></i>
          Ver projetos com esta ideia
        </a>
      </div>
    </div>
  </div>
{% endblock content %}