{% extends 'global/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <title>Ideias</title>
  <link rel="stylesheet" href="{% static 'users/css/ideas_admin.css' %}">
{% endblock head %}

{% block content %}
  <div class="container">
    <div class="ideas-header">
      <h2>Sem ideias para projetos?</h2>
      <p>Se baseie em algumas destas ideias para criar seus próprios projetos:</p>
    </div>
    <div class="stacks-area">

    </div>
    <div class="ideas-admin-container default-user">
      <div class="all-ideas">
        <h2>Ideias Fullstack:</h2>
        {% for idea in fullstack %}
          <a href="{% url 'ideas:idea_detail' idea.id %}" class="ideas-card">
            <div class="idea-title">
              <h4>{{ idea.idea }}</h4>
              <p>{{ idea.get_stack_display }}</p>
            </div>
            <div class="idea-body">
              <p class="idea-level">Nível: {{ idea.get_level_display }}</p>
              <p class="idea-date">
                {{ idea.start_date|naturalday }}
              </p>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="all-ideas">
        <h2>Ideias Frontend:</h2>
        {% for idea in frontend %}
          <a href="{% url 'ideas:idea_detail' idea.id %}" class="ideas-card">
            <div class="idea-title">
              <h4>{{ idea.idea }}</h4>
              <p>{{ idea.get_stack_display }}</p>
            </div>
            <div class="idea-body">
              <p class="idea-level">Nível: {{ idea.get_level_display }}</p>
              <p class="idea-date">
                {{ idea.start_date|naturalday }}
              </p>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="all-ideas">
        <h2>Ideias Backend:</h2>
        {% for idea in backend %}
          <a href="{% url 'ideas:idea_detail' idea.id %}" class="ideas-card">
            <div class="idea-title">
              <h4>{{ idea.idea }}</h4>
              <p>{{ idea.get_stack_display }}</p>
            </div>
            <div class="idea-body">
              <p class="idea-level">Nível: {{ idea.get_level_display }}</p>
              <p class="idea-date">
                {{ idea.start_date|naturalday }}
              </p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
