.all-projects-title {
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
}

.projects-grid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

.project-card {
    position: relative;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.599);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(18, 18, 18);
    transition: 300ms;
}

.project-card:hover {
    transform: scale(1.02);
}

.card-header {
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.card-header img {
    max-width: 100%;
    height: auto;
    object-fit: fill;
}

.card-body {
    padding: 1rem 1rem;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: .3rem;
}

.card-title p {
    font-size: 1.2rem;
    color: white;
}

.card-title h3 {
    font-size: 1.4rem;
    color: #f97c0f;
}

.project-author {
    position: absolute;
    top: .5rem;
    left: .5rem;
    text-decoration: none;
    color: rgb(32, 32, 252);
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-right: .8rem;
    font-size: .9rem;
    background-color: rgb(155, 253, 220);
    padding: .3rem .7rem;
    border-radius: .2rem;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.601);
    width: fit-content;
    margin-bottom: .5rem;
}

.project-author.staff-user {
    background-color: #f97c0f;
    color: white;
}

.project-author.staff-user i {
    font-size: 1rem;
}

.card-description {
    max-height: 3rem;
    overflow: hidden;
    padding-top: .3rem;
}

.card-description p {
    font-size: 1.1rem;
    color: rgb(146, 146, 146);
}

.card-info {
    padding-top: .5rem;
}

.card-info p {
    font-size: 1rem;
    color: rgb(71, 71, 71)
}

.card-button {
    display: block;
    text-align: center;
    padding: .6rem 0;
    width: 100%;
    background-color: #f97c0f;
    border-radius: .2rem;
    color: white;
    text-decoration: none;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.599);
    margin-top: .5rem;
}

.card-button:hover {
    background-color: #fa8d2d;
}

@media (max-width: 1000px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .all-projects-title {
        margin-top: 7rem;
    }
}

@media (max-width: 700px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}
