.home-title {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: white;
}

swiper-container {
    width: 100%;
    height: 100%;
    padding: 1.5rem .7rem 3rem .7rem;
}

swiper-slide .project-card {
    height: 30rem;
}

@media (max-width: 1200px) {
    .home-title {
        margin-top: 6.5rem;
    }
}
