.home-header {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-title h2 {
    font-size: 2rem;
    color: rgb(200, 200, 200);
}

.date-deadline {
    color: gray;
    margin-left: 2.6rem;
    margin-top: .5rem;
}

.date-deadline span {
    color:#f97c0f
}

.all-projects-link a {
    text-decoration: none;
    color: var(--background);
    padding: .5rem 1rem;
    background-color: var(--cor-primaria);
    border-radius: .2rem;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
}

swiper-container {
    width: 100%;
    height: 100%;
    padding: 1.5rem .7rem 3rem .7rem;
}

swiper-slide .project-card {
    height: 30rem;
}

#ideas h2 {
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 2rem;
    margin-top: 3rem;
}

.ideas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: rgb(200, 200, 200);
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    padding: 2rem;
    border: 3px solid rgb(15, 15, 27);
    border-radius: 1rem;
}

.ideas-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem
}

.idea-card {
    background-color: var(--background);
    border: 2px solid rgb(15, 15, 27);
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    text-overflow: ellipsis;
}

.idea-card:hover {
    transform: scale(1.02);
}

.idea-header {
    border-bottom: 4px solid rgb(15, 15, 27);
}

.idea-header h3 {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.idea-body {
    margin: 1rem 0;
}

.idea-body p {
    padding: 0 1rem;
}

.idea-footer a {
    display: block;
    width: 100%;
    background-color: var(--cor-primaria);
    text-align: center;
    text-decoration: none;
    color: var(--background);
    padding: .7rem 0;
}

.ideas-link {
    text-align: center;
}

.ideas-link h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.ideas-link a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    padding: .7rem 3rem;
    border: 1px solid var(--cor-primaria);
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    border-radius: .2rem;
}

.about-container {
    padding: 3rem 0;
}

.about-header h2 {
    color: rgb(200, 200, 200);
    font-size: 2rem;
}

.about-header p {
    font-size: 1.2rem;
    color: grey;
    margin-top: .5rem;
    margin-left: 2.7rem;
}

.about-body {
    margin-top: 1.5rem;
    padding-left: 1rem;
}

.about-body h3 {
    color: rgb(200, 200, 200);
    margin-bottom: .3rem;
}

.about-body p {
    font-size: 1.1rem;
    color: rgb(177, 177, 177);
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
}

.about-body span {
    color:#f97c0f;
    font-weight: bold;
}

.about-footer {
    margin-top: 2rem;
}

.about-footer h3 {
    font-size: 1.5rem;
    color: #f97c0f;
}

.adm-card-grid {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 1rem;
}

.adm-card {
    width: 250px;
    background-color: rgb(15, 15, 15);
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.adm-card:hover {
    transform: scale(1.02);
}

.adm-name,
.adm-stack {
    border-bottom: 1px solid grey;
    padding: 1rem 1rem;
}

.adm-name h3 {
    text-align: center;
    color: rgb(200, 200, 200);
}

.adm-stack {
    color: rgb(200, 200, 200);
    border-bottom: 1px solid grey;
    height: 190px;
}

.adm-stack h4 {
    font-size: 1.2rem;
    color:#f97c0f;
}

.adm-stack ul {
    margin-left: 1.3rem;
    color: grey;
}

.adm-stack p {
    margin-top: .3rem;
    font-size: 1.2rem;
}

.adm-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
}

.adm-links a {
    text-decoration: none;
    display: block;
    padding: .5rem;
    color: white;
    font-size: 2rem;
}

.adm-links a:hover {
    background-color: rgb(30, 30, 30);
}

@media (max-width: 1200px) {
    .home-title {
        margin-top: 6.5rem;
    }
}

@media (max-width: 768px) {
    .adm-card {
        width: 90%;
    }

    .ideas-container,
    .ideas-cards {
        grid-template-columns: 1fr;
    }

    .ideas-link {
        margin-top: 2rem;
    }
}
