.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.form-container h2 {
    color: rgb(200, 200, 200);
    margin-bottom: 1rem;
    text-align: center;
}

.form-info {
    color: rgb(200, 200, 200);
    padding: .5rem;
    border-radius: .2rem;
    border: 1px solid var(--cor-primaria);
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    margin-bottom: 1rem;
}

.base-form {
    background-color: rgb(15, 15, 27);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    border-radius: 1rem;
    width: 35rem;
}

.base-form .input-group {
    margin-bottom: 1.5rem;
}

.base-form label {
    display: block;
    margin-bottom: .5rem;
    color: rgb(200, 200, 200);
    font-weight: bold;
}

.base-form input,
.base-form textarea,
.base-form select {
    font-size: .9rem;
    width: 100%;
    padding: .5rem .7rem;
    border-radius: .2rem;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    opacity: .8;
}

.base-form select option {
    background-color: rgb(200, 200, 200);
    font-size: .9rem;
    font-family: var(--font);
}

.django-ckeditor-widget textarea {
    width: 100%;
}

.base-form textarea {
    height: 13rem;
    max-width: 100%;
    min-width: 100%;
}

.base-form input:focus,
.base-form textarea:focus {
    opacity: 1;
}

.base-form button {
    width: 100%;
    border: none;
    padding: .7rem;
    text-align: center;
    font-size: 1rem;
    background-color: #f97c0f;
    color: var(--background);
    cursor: pointer;
    border-radius: .2rem;
}

.base-form button:hover {
    background-color: #f98f32;
}

@media (max-width: 768px) {
    .form-container {
        margin-top: 5rem;
    }

    .base-form {
        width: 100%;
        padding: 0rem;
        background-color: transparent;
    }
}
