.post-container {
    padding: 0 20rem;
}

.post-area {
    padding: 2rem 0;
    color: rgb(200, 200, 200);
    border-bottom: 1px solid gray;
}

.post-header .post-user {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.post-user .user-link,
.comment-area .comment-user {
    text-decoration: none;
    color: rgb(155, 253, 220);
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-right: .8rem;
    font-size: 1rem;
    border: 1px solid rgb(155, 253, 220);
    padding: .2rem .5rem;
    border-radius: .2rem;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
}

.comment-area .comment-user.staff-user,
.post-user .user-link.staff-user {
    background-color: var(--cor-primaria);
    color: var(--background);
    border: 1px solid var(--cor-primaria);
}

.comment-area .comment-user.staff-user i,
.post-user .user-link.staff-user i {
    font-size: 1rem;
}

.post-header .post-title {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.post-header .post-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: grey;
}

.post-link {
    margin-top: .5rem;
}

.post-link a,
.post-footer a {
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color: #f97c0f;
    padding: .3rem .1rem;
    width: fit-content;
    text-align: center;
}

.post-link a:hover,
.post-footer a:hover {
    background-color: rgb(53, 53, 53);
    border-radius: .2rem;
}

.post-body,
.comment-area,
.post-footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.post-body {
    display: flex;
    gap: 2rem;
}

.post-body .post-text {
    line-height: 1.6rem;
    white-space: pre-wrap;      /* Webkit */    
    white-space: -moz-pre-wrap; /* Firefox */     
    white-space: -pre-wrap;     /* Opera <7 */    
    white-space: -o-pre-wrap;   /* Opera 7 */     
    word-wrap: break-word;      /* IE */ 
}

.post-text,
.comment-text {
    color: rgb(200, 200, 200);
}

.post-image {
    min-width: 300px;
    max-width: 300px;
    display: flex;
}

.post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-footer {
    margin-top: 1rem;
}

.post-footer a {
    text-decoration: none;
    color:#1645ff;
    display: inline;
}

.comment-area {
    padding-top: 1.5rem;
}

.comment-area h3 {
    font-size: 1.4rem;
    color: rgb(200, 200, 200);
}

.comments-message {
    color: rgb(200, 200, 200);
    padding-bottom: .3rem;
}

.comments-message a {
    text-decoration: none;
    color: #f97c0f;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-form textarea {
    max-width: 100%;
    height: 3rem;
    padding: .5rem 1rem;
    margin-top: .5rem;
    border: none;
    outline: none;
    font-size: .9rem;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: .2rem;
    transition: all 300ms ease-in-out;
}

.comment-form textarea:focus {
    height: 5rem;
}

.comment-form button {
    width: 7rem;
    padding: .4rem .7rem;
    align-self: flex-end;
    margin-top: .5rem;
    border-radius: 1rem;
    border: 1px solid #1645ff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    background-color: #1645ff;
    transition: 200ms ease-in-out all;
    color: rgb(200, 200, 200);
}

.comment-form button:hover {
    background-color: transparent;
    color: #1645ff;
}

.all-comments {
    margin-top: .5rem;
}

.all-comments h3 {
    margin-bottom: 1rem;
}

.all-comments p {
    color: rgb(200, 200, 200);
}

.comment {
    margin-bottom: 2rem;
    padding-bottom: .7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.148);
}

.comment-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.comment .comment-data {
    display: flex;
    align-items: center;
}

.comment .comment-data p {
    color: rgb(200, 200, 200);
    font-size: .95rem;
}

.comment .comment-user {
    width: fit-content;
}

.comment-body .comment-text {
    width: 100%;
    line-height: 1.2rem;
    font-size: 1rem;
    white-space: pre-wrap;      /* Webkit */    
    white-space: -moz-pre-wrap; /* Firefox */     
    white-space: -pre-wrap;     /* Opera <7 */    
    white-space: -o-pre-wrap;   /* Opera 7 */     
    word-wrap: break-word;      /* IE */ 
}

.comment-delete button {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 50%;
    border: 1px solid rgb(247, 74, 74);
    cursor: pointer;
    background-color: rgb(247, 74, 74);
    color: rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.707) 0px 20px 30px -10px;
    transition: all 200ms ease-in-out;
}

.comment-delete button:hover {
    background-color: transparent;
    color: rgb(247, 74, 74);
}

@media (max-width: 1100px) {
    .post-container {
        margin-top: 4rem;
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .post-user {
        flex-flow: row wrap;
        gap: .5rem;
    }

    .post-body {
        flex-flow: row wrap;
    }

    .post-image {
        max-width: 100%;
        /* min-width: none; */
    }

    .post-user .user-link {
        margin-right: 0;
    }
}
